/*  
    ヘッダーとフッターに関するスタイルや、ページ全体などに関するスタイルをこのファイルに記述する。
    他のページごとのスタイルは、別ファイルを作成して記述をする。(要素を指定する場合など)
*/

@charset "UTF-8";
/*基本設定*/

html {
    font-size: 100%;
}

/*ボディ*/

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Baloo Thambi 2', cursive;
    color: rgb(107, 17, 10);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width:1019px){
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media screen and (max-width:519px){
    body {
        margin-left: 1%;
        margin-right: 1%;
    }
}
/*メニューボディー*/
.menu-body{
    margin-left: 15%;
    margin-right: 15%;
}
@media screen and (max-width:919px){
    .menu-body{
        margin-left: 10%;
        margin-right: 10%;
    }
}

/*ヘッダー*/

.index-header-box ul li {
    width:95px;
    height: 70px;
    list-style-type: none;
    font-size: 1.5em; 
}
@media (max-width: 850px) {
    .index-header-box ul li {
        width: 120px;
        height: 70px;
        list-style-type: none;
        font-size: 1.5em;
    }
}

@media (max-width: 519px) {
    .index-header-box ul li {
        width: 95px;
        height: 70px;
        list-style-type: none;
        font-size: 1.5em;
    }
}
@media (max-width: 320px) {
    .index-header-box ul li {
        width: 80px;
        height: 70px;
        list-style-type: none;
        font-size: 1.25em;
    }
}
.general-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 850px) {
    .general-navigation {
        justify-content: center;
        flex-direction: column;
    }
}

.logo {
    width: 200px;
    height: auto;
    margin: 100px;
    display: flex;
    justify-items: center;
}

@media (max-width: 850px) {
    .logo {
        justify-content: center;
    }
}

.logo-img {
    min-width: 88px;
    width: 70%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin:auto;
    text-align: center;
}

@media (max-width: 850px) {
    .logo-img {
        width: 200px;
        height: auto;
        text-align: center;
    }
}
@media (max-width: 519px) {
    .logo-img {
        width: 300px;
        height: auto;
        text-align: center;
    }
}

body div.container {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 12%;
    text-align: center;
}

.header-ul {
    display: flex;
    flex-direction: row;
    margin: 40px 100px 0;
}

@media (max-width: 519px) {
    .header-ul {
        margin: 40px 30px 0;
        justify-content: center;
    }
}

header a {
    color:  rgb(65, 72, 84);
    text-decoration: none;
    min-height: 50px;
}

header a:hover {
    bottom: -4px;
    opacity: 1;
    text-decoration: underline pink;
}

@media (max-width: 519px) {
    header a {
        color: #330000;
        text-decoration: none;
        min-height: 50px;
    }
    header a:hover {
        color: #00CED1;
    }
}

.page-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 150px;
    height: 40px;
    width: 100%;
}

/* コンテンツ */

main {
    margin: 30px auto;
    max-width: 960px;
}

/* フッター */

.wrapper {
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    background: rgb(81, 167, 196);
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(197, 237, 253, 0.616);
    color: rgb(65, 72, 84);
}


