/*  
    ヘッダーとフッターに関するスタイルや、ページ全体などに関するスタイルをこのファイルに記述する。
    他のページごとのスタイルは、別ファイルを作成して記述をする。(要素を指定する場合など)
*/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 246, 233);
    color: rgb(107, 17, 10);
}

/* ヘッダー */

header {
    /* 仮ヘッダーのスタイル */
    /* 消してコーディングしてください */
    border: solid 16px blue;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

/* フッター */

footer {
    /* 仮フッターのスタイル */
    border: solid 16px blue;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

main {
    margin: 30px auto;
    width: 960px;
}
h1 {
    background-color: #F0F0F0;
    padding: 15px 15px 15px 10px;
    border-bottom: solid 3px rgb(97, 27, 22);
}
a {
    color: rgb(107, 17, 10);
    text-decoration: none;
}
div {
    display: block;
    padding: 10px;
    background-color: #F0F0F0;
    border-bottom: solid 1px rgb(97, 27, 22);
    text-align: center;
    width: 100%;
}
p {
    display: block;
    text-align: center;
    overflow: hidden;
    width: 980px;
}
a:visited { color: rgb(97, 27, 22);}
a:hover {
    color: rgb(107, 17, 10);
    font-weight: bold;
    text-decoration: none;
}
a:hover img { opacity: 0.6; }