/*  
    ヘッダーとフッターに関するスタイルや、ページ全体などに関するスタイルをこのファイルに記述する。
    他のページごとのスタイルは、別ファイルを作成して記述をする。(要素を指定する場合など)
*/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 246, 233);
    color: rgb(107, 17, 10);
}

/* ヘッダー */

header {
    /* 仮ヘッダーのスタイル */
    /* 消してコーディングしてください */
    border: solid 16px blue;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

/* フッター */

footer {
    /* 仮フッターのスタイル */
    border: solid 16px blue;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

main {
    margin: 30px auto;
    width: 960px;
}
h1 {
    background-color: #F0F0F0;
    padding: 15px 15px 15px 10px;
    border-bottom: solid 3px rgb(97, 27, 22);
}
h2 {
    background-color: #F0F0F0;
    padding: 10px 10px 10px 7px;
    border-left: solid 3px rgb(97, 27, 22);
}
li {
    margin-top: 0;
    line-height: 1.5;
}
p {
    text-align: center;
    font-weight: bold;
}
